.idea
__pycache__
build/
dist/
spine_engine.egg-info/
.coverage
htmlcov/
spine_engine/server/certs/
spine_engine/server/received_projects
spine_engine/version.py
tests/server/test_project/
tests/server/util/output/
docs/source/autoapi/
